PORT=3000 # Assign whatever port you like
MONGODB_URI=YOUR_MONGODB_URI
OLLAMA_MODEL=YOUR_OLLAMA_MODEL
OLLAMA_BASE_URL=http://localhost:11434 # Ollama runs locally at port 11434
GEMINI_API_KEY=YOUR_GEMINI_API_KEY
CEREBRAS_API_KEY=YOUR_CEREBRAS_API_KEY
SARVAM_API_KEY=YOUR_SARVAM_API_KEY
JWT_SECRET=YOUR_JWT_SECRET
NODE_ENV=development # Depends upon the environment you're working on, either development or production
CLIENT_URL=https://layerzero.uchihamadara3472.workers.dev